
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Addon Metadata</a></li>
  </ul>
</nav>

<div class="content">
<h1 class="title">
  Create metadata for addons
</h1>

<p>
  Addons are software components that are not standalone applications but intended to be used with another software component,
  usually extending the functionality of their parent application.
</p>
<p>
  They can, for example, be new themes and visual styles for a video editor, plugins to expand a text editor with a VI mode,
  web browser extensions etc.
</p>

<p>Please fill out the form below to generate your MetaInfo file as well as (optionally) auxiliary data.</p>

<form [formGroup]="cptForm" novalidate>

<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Basic Information
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
            <label class="label">Name of the addon</label>
            <div class="control">
                <input class="input" formControlName="cptName" type="text" placeholder="The human-readable name of your addon">
            </div>

            <p *ngIf="cptName.invalid && (cptName.dirty || cptName.touched)" class="help is-danger">A name is required</p>
        </div>

        <div class="field">
            <label class="label">Summary of the addon</label>
            <div class="control">
                <input class="input" formControlName="cptSummary" type="text" placeholder="A short text summarizing what the addon does">
            </div>

            <p *ngIf="cptSummary.invalid && (cptSummary.dirty || cptSummary.touched)" class="help is-danger">A summary is required</p>
        </div>

        <div class="field">
            <label class="label">Homepage of the addon</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="cptHomepage" type="text" placeholder="The website where this addon is hosted.">
                <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                </span>
            </div>

            <div *ngIf="cptHomepage.invalid && (cptHomepage.dirty || cptHomepage.touched)">
                <p *ngIf="cptHomepage.errors.required" class="help is-danger">A project homepage is required</p>
                <p *ngIf="cptHomepage.errors.invalidUrl" class="help is-danger">This URL is not accepted</p>
            </div>
        </div>

        <div class="field">
            <label class="label">Bugtracker of the addon</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="cptBugtracker" type="text" placeholder="The bugtracker where to file bugs for this addon.">
                <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                </span>
            </div>

            <div *ngIf="cptBugtracker.invalid && (cptBugtracker.dirty || cptBugtracker.touched)">
                <p *ngIf="cptBugtracker.errors.invalidUrl" class="help is-danger">This URL is not accepted</p>
            </div>
        </div>

        <div class="field">
            <label class="label">Donation for the addon</label>
            <div class="control has-icons-left">
              <input class="input" formControlName="cptDonation" type="text" placeholder="The website where one can perform a donation for this addon.">
              <span class="icon is-small is-left">
                  <i class="fas fa-link"></i>
              </span>
            </div>

            <div *ngIf="cptDonation.invalid && (cptDonation.dirty || cptDonation.touched)">
                <p *ngIf="cptDonation.errors.invalidUrl" class="help is-danger">This URL is not accepted</p>
            </div>
        </div>

        <div class="field">
            <label class="label">Code browser of the addon</label>
            <div class="control has-icons-left">
              <input class="input" formControlName="cptCode" type="text" placeholder="The website where one can browse source code for this addon.">
              <span class="icon is-small is-left">
                  <i class="fas fa-link"></i>
              </span>
            </div>

            <div *ngIf="cptCode.invalid && (cptCode.dirty || cptCode.touched)">
                <p *ngIf="cptCode.errors.invalidUrl" class="help is-danger">This URL is not accepted</p>
            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" formControlName="cptDescription" placeholder="Long description of this software."></textarea>
            </div>

            <p *ngIf="cptDescription.invalid && (cptDescription.dirty || cptDescription.touched)" class="help is-danger">A long description is required</p>
        </div>

        <div class="field">
            <label class="label">Unique Software Identifier</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="cptId" type="text" placeholder="Reverse-DNS string uniquely identifying your addon.">
                <span class="icon is-small is-left">
                    <i class="fas fa-fingerprint"></i>
                </span>
            </div>
            <p class="help">A rDNS-style string uniquely identifying your addon. Must contain only ASCII characters, dots and numbers.</p>

            <div *ngIf="cptId.invalid && (cptId.dirty || cptId.touched)">
                <p *ngIf="cptId.errors.required" class="help is-danger">A component-ID is required</p>
                <p *ngIf="cptId.errors.minlength" class="help is-danger">A component-ID is too short</p>
                <p *ngIf="cptId.errors.forbiddenId" class="help is-danger">This ID is not valid: {{cptId.errors.forbiddenId.value}}</p>
            </div>
        </div>

    </div>
</div>

<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Details
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
            <label class="label">Component ID of the extended application</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="extendsCptId" type="text" placeholder="Reverse-DNS string uniquely identifying your addon.">
                <span class="icon is-small is-left">
                    <i class="fas fa-fingerprint"></i>
                </span>
            </div>
            <p class="help">
                The unique rDNS-style identifier of the application this addon was built for.<br/>
                An addon can extend multiple other application - please add more <code>extends</code> tags to the
                generated MetaInfo file manually, if you need this functionality.
            </p>

            <div *ngIf="extendsCptId.invalid && (extendsCptId.dirty || extendsCptId.touched)">
                <p *ngIf="extendsCptId.errors.required" class="help is-danger">The component-ID of a parent application is required</p>
                <p *ngIf="extendsCptId.errors.minlength" class="help is-danger">The parent application's component-ID is too short</p>
                <p *ngIf="extendsCptId.errors.forbiddenId" class="help is-danger">This ID is not valid: {{extendsCptId.errors.forbiddenId.value}}</p>
            </div>
        </div>

        <div class="field">
            <label class="label">Icon Name</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="cptIcon" type="text" placeholder="Stock icon name without file extension">
                <span class="icon is-small is-left">
                    <i class="fas fa-icons"></i>
                </span>
            </div>
            <p class="help">
              Please enter the name of your icon (usually installed into <code>/usr/share/icons/hicolor/&lt;size&gt;/apps/</code>) without its
              .png or .svg(z) file extension.
              The icon name is optional for addons.
            </p>

            <div *ngIf="cptIcon.invalid && (cptIcon.dirty || cptIcon.touched)">
                <p *ngIf="cptIcon.errors.invalidName" class="help is-danger">This is not a valid icon name</p>
            </div>
        </div>

    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Licensing
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
        <label class="label">Metadata License</label>
        <div class="control">
            <div class="select">
                <select formControlName="metadataLicense">
                    <option value="">Choose a metadata license</option>
                    <option *ngFor="let license of metadataLicenses | async" value="{{license.id}}">{{license.name}}</option>
                </select>
            </div>
            <p class="help">The license that applies to this particular metadata and linked assets.</p>

            <p *ngIf="metadataLicense.invalid && (metadataLicense.dirty || metadataLicense.touched)" class="help is-danger">A metadata license must be selected</p>
        </div>
        </div>

        <div class="field">
        <label class="label">Software License</label>

        <div class="control">
            <label class="radio">
            <input type="radio" value="simple" formControlName="rbLicenseMode" (change)="licenseModeChange($event)">
            Simple Single License
            </label>
            <label class="radio">
            <input type="radio" value="spdx" formControlName="rbLicenseMode" (change)="licenseModeChange($event)">
            Custom SPDX Expression
            </label>
        </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
            <div class="select">
                <select formControlName="simpleProjectLicense">
                    <option value="">Choose a project license</option>
                    <option *ngFor="let license of spdxLicenses | async" value="{{license.id}}">{{license.name}}</option>
                </select>
                </div>
            </div>

            <div *ngIf="complexProjectLicense.enabled" class="control is-expanded">
                <input class="input" formControlName="complexProjectLicense" type="text" placeholder="A SPDX license expression, e.g. GPL-3.0-or-later and MPL-2.0">
                <p class="help">A <a href="https://spdx.org/licenses/">SPDX</a> license expression string.</p>
                <p *ngIf="complexProjectLicense.invalid && (complexProjectLicense.dirty || complexProjectLicense.touched)" class="help is-danger">You need to enter a SPDX expression</p>
            </div>
        </div>
        <p class="help">The license that applies to the described software.</p>

    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Additional Options
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
        <div class="control">
            <label class="checkbox">
            <input type="checkbox" formControlName="cbMesonSnippets">
              Generate <a href="https://mesonbuild.com/">Meson</a> sample snippet for metadata maintenance
            </label>
        </div>
        </div>

    </div>
</div>

<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Finish
      </p>
    </header>
    <div class="card-content content">

        <div class="field is-grouped">
            <div class="control">
                <a class="button is-link" tabindex="0" (click)="generate()">Generate Metadata</a>
            </div>
        </div>

    </div>
</div>

</form>

<br/>
<!-- Output area -->


<div *ngIf="dataError" class="notification is-danger">
  <p><strong>Unable to generate metadata:</strong></p>
  <p>{{dataErrorMessage}}</p>
</div>


<article class="panel is-success" *ngIf="dataGenerated">
  <p class="panel-heading">
    Result
  </p>

  <!-- MetaInfo data -->
  <div class="panel-block">
  <div class="column is-full">
      <h2 class="title is-2">MetaInfo File</h2>
      <p>Install this file as as <code>/usr/share/metainfo/{{finalCptId}}.metainfo.xml</code></p>
      <p>You can validate this metadata locally by running: <code>appstreamcli validate {{finalCptId}}.metainfo.xml</code></p>
      <div class="box pl-1 pb-1">
          <button style="float: right;" class="button is-info is-light is-rounded"
                  (click)="clipboard.copyText(dataMetainfo)">Copy</button>
          <pre style="padding: 0 !important;"><code [highlight]="dataMetainfo" [languages]="['xml']"></code></pre>
      </div>

      <div *ngIf="dataMesonValidate" style="margin-top: 1em;">
        <h3 class="subtitle is-3">Meson Validation Testcase</h3>
        <p>
          Adjust the data location in <code>metainfo_file</code> and add this snippet to your Meson build definition in order to
          validate the MetaInfo file as part of the project's tests.
        </p>
        <div class="box pl-1 pb-1">
            <button style="float: right;" class="button is-info is-light is-rounded"
                    (click)="clipboard.copyText(dataMesonValidate)">Copy</button>
            <pre style="padding: 0 !important;"><code [highlight]="dataMesonValidate" [languages]="['meson']"></code></pre>
        </div>
      </div>
  </div>
  </div>

</article>

<article class="panel is-info" *ngIf="dataGenerated">
  <p class="panel-heading">
    Missing tools to validate your data?
  </p>

  <div class="panel-block">
  <div class="column is-full">
      <h4 class="title is-4">MetaInfo Validation</h4>
      <p>
        For validation of <em>MetaInfo</em> files, you need <code>appstreamcli</code>, which is available in pretty much every Linux distribution.
        For best results, you should validate with version <code>0.12.10</code> or later.
      </p>
      <p>On Debian, Ubuntu and their derivatives, AppStream is preinstalled. In case it is missing, it can be installed using <code>apt install appstream</code></p>
      <p>On Fedora and its derivatives, you can install AppStream via <code>dnf install appstream</code></p>
  </div>
  </div>
</article>

</div> <!-- End of content -->
