
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Console App Metadata</a></li>
  </ul>
</nav>

<div class="content">
<h1 class="title">
  Create metadata for console applications
</h1>

<p>
  Console application are any application that have a command-line or text-based interface and are designed to be used by a human user in a console.
  Their binaries need to be present in <code>PATH</code>.
</p>
<p>
  The console mode needs to be the primary way of using your application, if the application has a GUI and an optional text mode as well, please create
  a GUI application MetaInfo file for it instead (the CLI can be advertised by adding a <code>provides ⮡ binary</code> entry).
  Examples of console applications are for example <code>ffmpeg</code>, <code>vi</code>, <code>flatpak</code> and of course
  <code>appstreamcli</code> itself.
</p>

<p>Please fill out the form below to generate your MetaInfo file as well as (optionally) auxiliary data.</p>

<form [formGroup]="cptForm" novalidate>

<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Basic Information
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
            <label class="label">Name of the application</label>
            <div class="control">
                <input class="input" formControlName="appName" type="text" placeholder="The human-readable name of your application">
            </div>

            <p *ngIf="appName.invalid && (appName.dirty || appName.touched)" class="help is-danger">A name is required</p>
        </div>

        <div class="field">
            <label class="label">Summary of the application</label>
            <div class="control">
                <input class="input" formControlName="appSummary" type="text" placeholder="A short text summarizing what the application does">
            </div>

            <p *ngIf="appSummary.invalid && (appSummary.dirty || appSummary.touched)" class="help is-danger">A summary is required</p>
        </div>

        <div class="field">
            <label class="label">Homepage of the application</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="appHomepage" type="text" placeholder="The website where this application is hosted.">
                <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                </span>
            </div>

            <div *ngIf="appHomepage.invalid && (appHomepage.dirty || appHomepage.touched)">
                <p *ngIf="appHomepage.errors.required" class="help is-danger">A project homepage is required</p>
                <p *ngIf="appHomepage.errors.invalidUrl" class="help is-danger">This URL is not accepted</p>
            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" formControlName="appDescription" placeholder="Long description of this software."></textarea>
            </div>

            <p *ngIf="appDescription.invalid && (appDescription.dirty || appDescription.touched)" class="help is-danger">A long description is required</p>
        </div>

        <div class="field">
            <label class="label">Unique Software Identifier</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="cptId" type="text" placeholder="Reverse-DNS string uniquely identifying your application.">
                <span class="icon is-small is-left">
                    <i class="fas fa-fingerprint"></i>
                </span>
            </div>
            <p class="help">A rDNS-style string uniquely identifying your application. Must contain only ASCII characters, dots and numbers.</p>

            <div *ngIf="cptId.invalid && (cptId.dirty || cptId.touched)">
                <p *ngIf="cptId.errors.required" class="help is-danger">A component-ID is required</p>
                <p *ngIf="cptId.errors.minlength" class="help is-danger">A component-ID is too short</p>
                <p *ngIf="cptId.errors.forbiddenId" class="help is-danger">This ID is not valid: {{cptId.errors.forbiddenId.value}}</p>
            </div>
        </div>

    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Licensing
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
        <label class="label">Metadata License</label>
        <div class="control">
            <div class="select">
                <select formControlName="metadataLicense">
                    <option value="">Choose a metadata license</option>
                    <option *ngFor="let license of metadataLicenses | async" value="{{license.id}}">{{license.name}}</option>
                </select>
            </div>
            <p class="help">The license that applies to this particular metadata and linked assets.</p>

            <p *ngIf="metadataLicense.invalid && (metadataLicense.dirty || metadataLicense.touched)" class="help is-danger">A metadata license must be selected</p>
        </div>
        </div>

        <div class="field">
        <label class="label">Software License</label>

        <div class="control">
            <label class="radio">
            <input type="radio" value="simple" formControlName="rbLicenseMode" (change)="licenseModeChange($event)">
            Simple Single License
            </label>
            <label class="radio">
            <input type="radio" value="spdx" formControlName="rbLicenseMode" (change)="licenseModeChange($event)">
            Custom SPDX Expression
            </label>
        </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
            <div class="select">
                <select formControlName="simpleProjectLicense">
                    <option value="">Choose a project license</option>
                    <option *ngFor="let license of spdxLicenses | async" value="{{license.id}}">{{license.name}}</option>
                </select>
                </div>
            </div>

            <div *ngIf="complexProjectLicense.enabled" class="control is-expanded">
                <input class="input" formControlName="complexProjectLicense" type="text" placeholder="A SPDX license expression, e.g. GPL-3.0-or-later and MPL-2.0">
                <p class="help">A <a href="https://spdx.org/licenses/">SPDX</a> license expression string.</p>
                <p *ngIf="complexProjectLicense.invalid && (complexProjectLicense.dirty || complexProjectLicense.touched)" class="help is-danger">You need to enter a SPDX expression</p>
            </div>
        </div>
        <p class="help">The license that applies to the described software.</p>

    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Categorization
      </p>
    </header>
    <div class="card-content content">
        <p>
          Your software will appear in at least two categories in software center searches, one primary broad category, and one secondary
          more specific one.
          You can add more secondary categories to your metadata later, if you think your console application fits into even more categories.
        </p>
        <div class="field is-grouped">

            <div class="control">
              <label class="label">Primary Category</label>
              <div class="select">
                <select formControlName="primaryCategory" (change)="primaryCategoryChange($event)">
                    <option value="">Choose a category</option>
                    <option *ngFor="let cat of categoriesPrimary" value="{{cat.name}}">{{cat.desc}} [{{cat.name}}]</option>
                </select>
              </div>
              <p *ngIf="primaryCategory.invalid && (primaryCategory.dirty || primaryCategory.touched)" class="help is-danger">A primary category must be selected</p>
            </div>

            <div class="control">
              <label class="label">Secondary Category</label>
              <div class="select">
                <select formControlName="secondaryCategory">
                    <option value="">Choose an additional category</option>
                    <option *ngFor="let cat of categoriesSecondaryFiltered" value="{{cat.name}}">{{cat.desc}} [{{cat.name}}]</option>
                </select>
              </div>
              <p *ngIf="secondaryCategory.invalid && (secondaryCategory.dirty || secondaryCategory.touched)" class="help is-danger">A secondary category must be selected</p>
            </div>

        </div>
    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Details
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
            <label class="label">Icon Name</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="appIcon" type="text" placeholder="Stock icon name without file extension">
                <span class="icon is-small is-left">
                    <i class="fas fa-icons"></i>
                </span>
            </div>
            <p class="help">
              Please enter the name of your icon (usually installed into <code>/usr/share/icons/hicolor/&lt;size&gt;/apps/</code>) without its
              .png or .svg(z) file extension.<br/>
              This is currently exclusively used to show your application in software centers, and may simply be the project's logo. You may enter
              <code>utilities-terminal</code> here if you have no icon on your own and want a generic placeholder.
            </p>

            <div *ngIf="appIcon.invalid && (appIcon.dirty || appIcon.touched)">
                <p *ngIf="appIcon.errors.required" class="help is-danger">An icon name is required</p>
                <p *ngIf="appIcon.errors.invalidName" class="help is-danger">This is not a valid icon name</p>
            </div>
        </div>

        <div class="field">
            <label class="label">Executable Name</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="exeName" type="text" placeholder="Executable (command) binary name">
                <span class="icon is-small is-left">
                    <i class="fas fa-terminal"></i>
                </span>
            </div>
            <p class="help">
              Please enter the name of the binary to run your application (as installed in the systems's standard <code>$PATH</code>).
              Do not use an absolute path!
            </p>

            <div *ngIf="exeName.invalid && (exeName.dirty || exeName.touched)">
                <p *ngIf="exeName.errors.required" class="help is-danger">An executable name is required</p>
                <p *ngIf="exeName.errors.invalidName" class="help is-danger">This is not a valid executable name</p>
            </div>
        </div>

    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Additional Options
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
        <div class="control">
            <label class="checkbox">
            <input type="checkbox" formControlName="cbMesonSnippets">
              Generate <a href="https://mesonbuild.com/">Meson</a> sample snippet for metadata maintenance
            </label>
        </div>
        </div>

    </div>
</div>

<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Finish
      </p>
    </header>
    <div class="card-content content">

        <div class="field is-grouped">
            <div class="control">
                <a class="button is-link" (click)="generate()">Generate Metadata</a>
            </div>
        </div>

    </div>
</div>

</form>

<br/>
<!-- Output area -->


<div *ngIf="dataError" class="notification is-danger">
  <p><strong>Unable to generate metadata:</strong></p>
  <p>{{dataErrorMessage}}</p>
</div>


<article class="panel is-success" *ngIf="dataGenerated">
  <p class="panel-heading">
    Result
  </p>

  <!-- MetaInfo data -->
  <div class="panel-block">
  <div class="column is-full">
      <h2 class="title is-2">MetaInfo File</h2>
      <p>Install this file as as <code>/usr/share/metainfo/{{finalCptId}}.metainfo.xml</code></p>
      <p>You can validate this metadata locally by running: <code>appstreamcli validate {{finalCptId}}.metainfo.xml</code></p>
      <div class="control">
          <textarea class="textarea is-primary" rows="24" readonly>{{dataMetainfo}}</textarea>
      </div>

      <div *ngIf="dataMesonValidate" style="margin-top: 1em;">
        <h3 class="subtitle is-3">Meson Validation Testcase</h3>
        <p>
          Adjust the data location in <code>metainfo_file</code> and add this snippet to your Meson build definition in order to
          validate the MetaInfo file as part of the project's tests.
        </p>
        <div class="control">
            <textarea class="textarea is-warning" rows="8" readonly>{{dataMesonValidate}}</textarea>
        </div>
      </div>
  </div>
  </div>

</article>

<article class="panel is-info" *ngIf="dataGenerated">
  <p class="panel-heading">
    Missing tools to validate your data?
  </p>

  <div class="panel-block">
  <div class="column is-full">
      <h4 class="title is-4">MetaInfo Validation</h4>
      <p>
        For validation of <em>MetaInfo</em> files, you need <code>appstreamcli</code>, which is available in pretty much every Linux distribution.
        For best results, you should validate with version <code>0.12.10</code> or later.
      </p>
      <p>On Debian, Ubuntu and their derivatives, AppStream is preinstalled. In case it is missing, it can be installed using <code>apt install appstream</code></p>
      <p>On Fedora and its derivatives, you can install AppStream via <code>dnf install appstream</code></p>
  </div>
  </div>
</article>

</div> <!-- End of content -->
