
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">GUI App Metadata</a></li>
  </ul>
</nav>

<div class="content">
<h1 class="title">
  Create metadata for GUI applications
</h1>

<p>
  A GUI application (or desktop application) is an application which has a graphical user interface and is commonly used with mouse and keyboard.
  It also ships a Freedesktop .desktop file to be visible in application menus.
</p>

<p>Please fill out the form below to generate your MetaInfo file as well as (optionally) auxiliary data.</p>

<form [formGroup]="cptForm" novalidate>

<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Basic Information
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
            <label class="label">Name of the application</label>
            <div class="control">
                <input class="input" formControlName="appName" type="text" placeholder="The human-readable name of your application">
            </div>

            <p *ngIf="appName.invalid && (appName.dirty || appName.touched)" class="help is-danger">A name is required</p>
        </div>

        <div class="field">
            <label class="label">Summary of the application</label>
            <div class="control">
                <input class="input" formControlName="appSummary" type="text" placeholder="A short text summarizing what the application does">
            </div>

            <p *ngIf="appSummary.invalid && (appSummary.dirty || appSummary.touched)" class="help is-danger">A summary is required</p>
        </div>

        <div class="field">
            <label class="label">Homepage of the application</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="appHomepage" type="text" placeholder="The website where this application is hosted.">
                <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                </span>
            </div>

            <div *ngIf="appHomepage.invalid && (appHomepage.dirty || appHomepage.touched)">
                <p *ngIf="appHomepage.errors.required" class="help is-danger">A project homepage is required</p>
                <p *ngIf="appHomepage.errors.invalidUrl" class="help is-danger">This URL is not accepted</p>
            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" formControlName="appDescription" placeholder="Long description of this software. You can use Mardown in-line `code`, paragraph and *emphasis* markup."></textarea>
            </div>

            <p *ngIf="appDescription.invalid && (appDescription.dirty || appDescription.touched)" class="help is-danger">A long description is required</p>
        </div>

        <div class="field">
            <label class="label">Unique Software Identifier</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="cptId" type="text" placeholder="Reverse-DNS string uniquely identifying your application.">
                <span class="icon is-small is-left">
                    <i class="fas fa-fingerprint"></i>
                </span>
            </div>
            <p class="help">A rDNS-style string uniquely identifying your application. Must contain only ASCII characters, dots and numbers.</p>

            <div *ngIf="cptId.invalid && (cptId.dirty || cptId.touched)">
                <p *ngIf="cptId.errors.required" class="help is-danger">A component-ID is required</p>
                <p *ngIf="cptId.errors.minlength" class="help is-danger">A component-ID is too short</p>
                <p *ngIf="cptId.errors.forbiddenId" class="help is-danger">This ID is not valid: {{cptId.errors.forbiddenId.value}}</p>
            </div>
        </div>

    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Licensing
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
        <label class="label">Metadata License</label>
        <div class="control">
            <div class="select">
                <select formControlName="metadataLicense">
                    <option value="">Choose a metadata license</option>
                    <option *ngFor="let license of metadataLicenses | async" value="{{license.id}}">{{license.name}}</option>
                </select>
            </div>
            <p class="help">The license that applies to this particular metadata and linked assets (like screenshots and videos).</p>

            <p *ngIf="metadataLicense.invalid && (metadataLicense.dirty || metadataLicense.touched)" class="help is-danger">A metadata license must be selected</p>
        </div>
        </div>

        <div class="field">
        <label class="label">Software License</label>

        <div class="control">
            <label class="radio">
            <input type="radio" value="simple" formControlName="rbLicenseMode" (change)="licenseModeChange($event)">
            Simple Single License
            </label>
            <label class="radio">
            <input type="radio" value="spdx" formControlName="rbLicenseMode" (change)="licenseModeChange($event)">
            Custom SPDX Expression
            </label>
        </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
            <div class="select">
                <select formControlName="simpleProjectLicense">
                    <option value="">Choose a project license</option>
                    <option *ngFor="let license of spdxLicenses | async" value="{{license.id}}">{{license.name}}</option>
                </select>
                </div>
            </div>

            <div *ngIf="complexProjectLicense.enabled" class="control is-expanded">
                <input class="input" formControlName="complexProjectLicense" type="text" placeholder="A SPDX license expression, e.g. GPL-3.0-or-later and MPL-2.0">
                <p class="help">A <a href="https://spdx.org/licenses/">SPDX</a> license expression string.</p>
                <p *ngIf="complexProjectLicense.invalid && (complexProjectLicense.dirty || complexProjectLicense.touched)" class="help is-danger">You need to enter a SPDX expression</p>
            </div>
        </div>
        <p class="help">The license that applies to the described software.</p>

    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Screenshots
      </p>
    </header>
    <div class="card-content content">
        <p>
          Screenshots present your application to the outside world and could be seen by thousands of people. They are optional,
          but you can link to up to three of them here (and add more to the generated metadata if you want to).
          Please paste URLs to screenshots in the format of PNG, JPEG or WebP. You can find more information on how to create good screenshots
          for your application in
          <a href="https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html#qsr-app-screenshots-info">the AppStream quickstart manual</a>.
        </p>
        <div class="field">
            <label class="label">Primary Screenshot Image</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="primaryScreenshot" type="text" placeholder="URL of the primary screenshot image.">
                <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                </span>
            </div>

            <div *ngIf="primaryScreenshot.invalid && (primaryScreenshot.dirty || primaryScreenshot.touched)">
                <p *ngIf="primaryScreenshot.errors.invalidUrl" class="help is-danger">This URL is not accepted</p>
            </div>
        </div>

        <div class="field">
            <label class="label">Additional Screenshot Image 1</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="extraScreenshot1" type="text" placeholder="URL of an additional screenshot image.">
                <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                </span>
            </div>

            <div *ngIf="extraScreenshot1.invalid && (extraScreenshot1.dirty || extraScreenshot1.touched)">
                <p *ngIf="extraScreenshot1.errors.invalidUrl" class="help is-danger">This URL is not accepted</p>
            </div>
        </div>
        <div class="field">
            <label class="label">Additional Screenshot Image 2</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="extraScreenshot2" type="text" placeholder="URL of an additional screenshot image.">
                <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                </span>
            </div>

            <div *ngIf="extraScreenshot2.invalid && (extraScreenshot2.dirty || extraScreenshot2.touched)">
                <p *ngIf="extraScreenshot2.errors.invalidUrl" class="help is-danger">This URL is not accepted</p>
            </div>
        </div>

    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Launchables
      </p>
    </header>
    <div class="card-content content">

        <p>
          In order to launch your application from a menu or a software center, you will need a
          <a href="https://specifications.freedesktop.org/desktop-entry-spec/latest/">desktop-entry</a> file. You can either
          set the name of a file you already have, have this tool generate one for you, or generate the file from your metainfo file
          when your application is compiled. For the latter case, this tool can also produce instructions.
        </p>

        <div class="field ">
            <div class="control">
                <label class="radio">
                <input type="radio" value="provided" formControlName="rbLaunchableMode">
                I already have a .desktop file
                </label>
                <label class="radio">
                <input type="radio" value="generate" formControlName="rbLaunchableMode">
                Generate a .desktop file for me
                </label>
                <label class="radio">
                <input type="radio" value="generate-from-mi" formControlName="rbLaunchableMode">
                Create instructions to autogenerate a .desktop file from my metainfo file
                </label>
            </div>
        </div>

        <div *ngIf="rbLaunchableMode.value == 'provided'" class="field">
            <label class="label">Name of your .desktop file</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="desktopEntryName" type="text" placeholder="myapplication.desktop">
                <span class="icon is-small is-left">
                    <i class="far fa-file"></i>
                </span>
            </div>

            <div *ngIf="desktopEntryName.invalid && (desktopEntryName.dirty || desktopEntryName.touched)">
                <p *ngIf="desktopEntryName.errors.required" class="help is-danger">A desktop-entry filename is required</p>
                <p *ngIf="desktopEntryName.errors.invalidName" class="help is-danger">This is not a valid .desktop filename</p>
            </div>
        </div>

    </div>
</div>


<div class="card" *ngIf="createDesktopData">
    <header class="card-header">
      <p class="card-header-title">
        Categorization
      </p>
    </header>
    <div class="card-content content">
        <p>
          Your software will appear in at least two categories in software center searches and menus of some desktop environments, one
          primary broad category, and one secondary more specific category.
          You can add more secondary categories to your metadata later, if you like to and think your application fits into more categories.
        </p>
        <div class="field is-grouped">

            <div class="control">
              <label class="label">Primary Category</label>
              <div class="select">
                <select formControlName="primaryCategory" (change)="primaryCategoryChange($event)">
                    <option value="">Choose a category</option>
                    <option *ngFor="let cat of categoriesPrimary" value="{{cat.name}}">{{cat.desc}} [{{cat.name}}]</option>
                </select>
              </div>
              <p *ngIf="primaryCategory.invalid && (primaryCategory.dirty || primaryCategory.touched)" class="help is-danger">A primary category must be selected</p>
            </div>

            <div class="control">
              <label class="label">Secondary Category</label>
              <div class="select">
                <select formControlName="secondaryCategory">
                    <option value="">Choose an additional category</option>
                    <option *ngFor="let cat of categoriesSecondaryFiltered" value="{{cat.name}}">{{cat.desc}} [{{cat.name}}]</option>
                </select>
              </div>
              <p *ngIf="secondaryCategory.invalid && (secondaryCategory.dirty || secondaryCategory.touched)" class="help is-danger">A secondary category must be selected</p>
            </div>

        </div>
    </div>
</div>


<div class="card" *ngIf="createDesktopData">
    <header class="card-header">
      <p class="card-header-title">
        Launchable Details
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
            <label class="label">Icon Name</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="appIcon" type="text" placeholder="Stock icon name without file extension">
                <span class="icon is-small is-left">
                    <i class="fas fa-icons"></i>
                </span>
            </div>
            <p class="help">
              Please enter the name of your icon (usually installed into <code>/usr/share/icons/hicolor/&lt;size&gt;/apps/</code>) without its
              .png or .svg(z) file extension.
            </p>

            <div *ngIf="appIcon.invalid && (appIcon.dirty || appIcon.touched)">
                <p *ngIf="appIcon.errors.required" class="help is-danger">An icon name is required</p>
                <p *ngIf="appIcon.errors.invalidName" class="help is-danger">This is not a valid icon name</p>
            </div>
        </div>

        <div class="field">
            <label class="label">Executable Name</label>
            <div class="control has-icons-left">
                <input class="input" formControlName="exeName" type="text" placeholder="Executable (command) binary name">
                <span class="icon is-small is-left">
                    <i class="fas fa-terminal"></i>
                </span>
            </div>
            <p class="help">
              Please enter the name of the binary to run your application (as installed in <code>$PATH</code>). Do not use absolute paths!
            </p>

            <div *ngIf="exeName.invalid && (exeName.dirty || exeName.touched)">
                <p *ngIf="exeName.errors.required" class="help is-danger">An executable name is required</p>
                <p *ngIf="exeName.errors.invalidName" class="help is-danger">This is not a valid executable name</p>
            </div>
        </div>

    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        User Input
      </p>
    </header>
    <div class="card-content content">

        <p>Select how users can interact with your application.</p>

        <div class="field">
        <div class="control">
            <label class="checkbox">
            <input type="checkbox" formControlName="cbInputMouseKeys" (change)="inputControlChange($event)">
              Users use this application via mouse &amp; keyboard
            </label>
        </div>
        </div>

        <div class="field">
        <div class="control">
            <label class="checkbox">
            <input type="checkbox" formControlName="cbInputTouch" (change)="inputControlChange($event)">
              The application is usable on touch devices via touch input
            </label>
        </div>
        </div>

        <div class="field">
        <div class="control">
            <label class="checkbox">
            <input type="checkbox" formControlName="cbInputGamepad" (change)="inputControlChange($event)">
              This application supports gamepads
            </label>
        </div>
        </div>

    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Additional Options
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
        <div class="control">
            <label class="checkbox">
            <input type="checkbox" formControlName="cbMesonSnippets">
              Generate <a href="https://mesonbuild.com/">Meson</a> sample snippets for metadata maintenance
            </label>
        </div>
        </div>

    </div>
</div>

<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Finish
      </p>
    </header>
    <div class="card-content content">

        <div class="field is-grouped">
            <div class="control">
                <a class="button is-link" (click)="generate()">Generate Metadata</a>
            </div>
        </div>

    </div>
</div>

</form>

<br/>
<!-- Output area -->


<div *ngIf="dataError" class="notification is-danger">
  <p><strong>Unable to generate metadata:</strong></p>
  <p>{{dataErrorMessage}}</p>
</div>


<article class="panel is-success" *ngIf="dataGenerated">
  <p class="panel-heading">
    Result
  </p>

  <!-- MetaInfo data -->
  <div class="panel-block">
  <div class="column is-full">
      <h2 class="title is-2">MetaInfo File</h2>
      <p>Install this file as as <code>/usr/share/metainfo/{{finalCptId}}.metainfo.xml</code></p>
      <p>You can validate this metadata locally by running: <code>appstreamcli validate {{finalCptId}}.metainfo.xml</code></p>
      <div class="control">
          <textarea class="textarea is-primary" rows="24" readonly>{{dataMetainfo}}</textarea>
      </div>

      <div *ngIf="dataMesonValidate" style="margin-top: 1em;">
        <h3 class="subtitle is-3">Meson Validation Testcase</h3>
        <p>
          Adjust the data location in <code>metainfo_file</code> and add this snippet to your Meson build definition in order to
          validate the MetaInfo file as part of the project's tests.
        </p>
        <div class="control">
            <textarea class="textarea is-warning" rows="8" readonly>{{dataMesonValidate}}</textarea>
        </div>
      </div>
  </div>
  </div>

  <!-- Info how a desktop-entry file could be autogenerated -->
  <div class="panel-block" *ngIf="rbLaunchableMode.value == 'generate-from-mi'">
  <div class="column is-full">
      <h2 class="title is-2">Autogenerate Desktop Entry file from MetaInfo</h2>
      <p>
        The MetaInfo file above contains all essential information to generate a .desktop file from, so the application can be launched.
        The process of generating the desktop-entry file can be automated. You just need to run
        <code>appstreamcli make-desktop-file {{finalCptId}}.metainfo.xml {{finalCptId}}.desktop</code> during the build process of your
        application.
      </p>

      <div *ngIf="dataMesonMItoDE">
        <h3 class="subtitle is-3">Meson Snippet</h3>
        <p>
          This code fragment for the Meson build system can be used to perform the desktop-entry conversion automatically
          when the software is installed:
        </p>
        <div class="control">
            <textarea class="textarea is-warning" rows="8" readonly>{{dataMesonMItoDE}}</textarea>
        </div>
      </div>
  </div>
  </div>

  <!-- Desktop Entry data, in case we generated some -->
  <div class="panel-block" *ngIf="dataDesktopEntry">
  <div class="column is-full">
      <h2 class="title is-2">Desktop Entry File</h2>
      <p>Install this file as as <code>/usr/share/applications/{{finalCptId}}.desktop</code></p>
      <p>You can validate this metadata locally by running: <code>desktop-file-validate {{finalCptId}}.desktop</code></p>
      <div class="control">
          <textarea class="textarea is-info" rows="10" readonly>{{dataDesktopEntry}}</textarea>
      </div>
  </div>
  </div>

  <!-- Localization info -->
  <div class="panel-block">
  <div class="column is-full">
      <h2 class="title is-2">MetaInfo Localization</h2>
      <p>
        AppStream MetaInfo files are recognized by <code>xgettext</code>, so you just need to add <code>{{finalCptId}}</code> to your
        <code>POTFILES.in</code> to generate templates for all translatable elements in the file. When building the software, you can
        then instruct your build system to merge in the translations into the new file before installing the translated file as
        <code>/usr/share/metainfo/{{finalCptId}}.metainfo.xml</code>.
      </p>

      <div *ngIf="dataMesonL10N">
        <h3 class="subtitle is-3">Meson Snippet</h3>
        <p>
          This code fragment for the Meson build system can be used to perform the merge-and-install step, when templates
          were already generated in a previous step.
        </p>
        <div class="control">
            <textarea class="textarea is-warning" rows="8" readonly>{{dataMesonL10N}}</textarea>
        </div>
      </div>
  </div>
  </div>

</article>

<article class="panel is-info" *ngIf="dataGenerated">
  <p class="panel-heading">
    Missing tools to validate your data?
  </p>

  <div class="panel-block">
  <div class="column is-full">
      <h4 class="title is-4">MetaInfo Validation</h4>
      <p>
        For validation of <em>MetaInfo</em> files, you need <code>appstreamcli</code>, which is available in pretty much every Linux distribution.
        For best results, you should validate with version <code>0.12.10</code> or later.
      </p>
      <p>On Debian, Ubuntu and their derivatives, AppStream is preinstalled. In case it is missing, it can be installed using <code>apt install appstream</code></p>
      <p>On Fedora and its derivatives, you can install AppStream via <code>dnf install appstream</code></p>

      <h4 class="title is-4">Desktop Entry Validation</h4>
      <p>
        For validation of <em>Desktop Entry</em> files, you need <code>desktop-file-validate</code>, which is usually already preinstalled on your system as well.
      </p>
      <p>In case it is missing, it can be installed on Debian, Ubuntu and their derivatives using <code>apt install desktop-file-utils</code></p>
      <p>On Fedora and its derivatives, you can install the .desktop file validator via <code>dnf install desktop-file-utils</code></p>

  </div>
  </div>
</article>

</div> <!-- End of content -->
