

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">GUI App Metadata</a></li>
  </ul>
</nav>

<div class="content">
<h1 class="title">
  Create metadata for GUI applications
</h1>

<p>
  A GUI application (or desktop application) is an application which has a graphical user interface and is commonly used with mouse and keyboard.
  It also ships a Freedesktop .desktop file to be visible in application menus.
</p>

<p>Please fill out the form below to generate your MetaInfo file as well as (optionally) auxiliary data.</p>

<form [formGroup]="cptForm" novalidate>

<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Basic Information
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
            <label class="label">Name of the application</label>
            <div class="control">
                <input class="input" formControlName="appName" type="text" placeholder="The human-readable name of your application">
            </div>

            <p *ngIf="appName.invalid && (appName.dirty || appName.touched)" class="help is-danger">A name is required</p>
        </div>

        <div class="field">
            <label class="label">Summary of the application</label>
            <div class="control">
                <input class="input" formControlName="appSummary" type="text" placeholder="A short text summarizing what the application does">
            </div>

            <p *ngIf="appSummary.invalid && (appSummary.dirty || appSummary.touched)" class="help is-danger">A summary is required</p>
        </div>

        <div class="field">
            <label class="label">Homepage of the application</label>
            <div class="control">
                <input class="input" formControlName="appHomepage" type="text" placeholder="The website where this application is hosted.">
            </div>

            <p *ngIf="appHomepage.invalid && (appHomepage.dirty || appHomepage.touched)" class="help is-danger">A project homepage is required</p>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" formControlName="appDescription" placeholder="Long description of this software."></textarea>
            </div>

            <p *ngIf="appDescription.invalid && (appDescription.dirty || appDescription.touched)" class="help is-danger">A long description is required</p>
        </div>

        <div class="field">
            <label class="label">Unique Software Identifier</label>
            <div class="control">
                <input class="input" formControlName="cptId" type="text" placeholder="Reverse-DNS string uniquely identifying your application.">
            </div>
            <p class="help">A rDNS-style string uniquely identifying your application. Must contain only ASCII characters, dots and numbers.</p>

            <div *ngIf="cptId.invalid && (cptId.dirty || cptId.touched)">
                <p *ngIf="cptId.errors.required" class="help is-danger">A component-ID is required</p>
                <p *ngIf="cptId.errors.minlength" class="help is-danger">A component-ID is too short</p>
                <p *ngIf="cptId.errors.forbiddenId" class="help is-danger">This ID is not valid: {{cptId.errors.forbiddenId.value}}</p>
            </div>
        </div>

    </div>
</div>


<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Licensing
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
        <label class="label">Metadata License</label>
        <div class="control">
            <div class="select">
                <select formControlName="metadataLicense">
                    <option value="">Choose a metadata license</option>
                    <option *ngFor="let license of metadataLicenses | async" value="{{license.id}}">{{license.name}}</option>
                </select>
            </div>
            <p class="help">The license that applies to this particular metadata and linked assets (like screenshots and videos).</p>

            <p *ngIf="metadataLicense.invalid && (metadataLicense.dirty || metadataLicense.touched)" class="help is-danger">A metadata license must be selected</p>
        </div>
        </div>

        <div class="field">
        <label class="label">Software License</label>

        <div class="control">
            <label class="radio">
            <input type="radio" checked="!useSPDXExpression" name="rbLicenseMode" (change)="licenseModeSimpleChange($event)">
            Simple Single License
            </label>
            <label class="radio">
            <input type="radio" name="rbLicenseMode" (change)="licenseModeSPDXExprChange($event)">
            Custom SPDX Expression
            </label>
        </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
            <div class="select">
                <select formControlName="simpleProjectLicense">
                    <option value="">Choose a project license</option>
                    <option *ngFor="let license of spdxLicenses | async" value="{{license.id}}">{{license.name}}</option>
                </select>
                </div>
            </div>

            <div *ngIf="complexProjectLicense.enabled" class="control is-expanded">
                <input class="input" formControlName="complexProjectLicense" type="text" placeholder="A SPDX license expression, e.g. GPL-3.0-or-later and MPL-2.0">
                <p class="help">A <a href="https://spdx.org/licenses/">SPDX</a> license expression string.</p>
            </div>
        </div>
        <p class="help">The license that applies to the described software.</p>

    </div>
</div>

<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Misc
      </p>
    </header>
    <div class="card-content content">

        <div class="field">
        <div class="control">
            <label class="checkbox">
            <input type="checkbox">
              Generate <a href="https://mesonbuild.com/">Meson</a> snippet for data validation.
            </label>
        </div>
        </div>

        <div class="field">
        <div class="control">
            <label class="checkbox">
            <input type="checkbox">
              Build desktop-entry file from MetaInfo data.
            </label>
        </div>
        </div>

    </div>
</div>

<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Generate Metadata
      </p>
    </header>
    <div class="card-content content">

        <div class="field is-grouped">
            <div class="control">
                <a class="button is-link" (click)="generate()">Create Metadata</a>
            </div>
        </div>

    </div>
</div>

</form>

<br/>
<!-- Output area -->


<div *ngIf="dataError" class="notification is-danger">
  <p><strong>Unable to generate metadata:</strong></p>
  <p>{{dataErrorMessage}}</p>
</div>


<article *ngIf="dataGenerated" class="panel is-success">
  <p class="panel-heading">
    Result
  </p>

  <div class="panel-block">
  <div class="column is-full">
      <h2>MetaInfo file</h2>
      <p>Install as <code>/usr/share/metainfo/{{finalCptId}}.metainfo.xml</code></p>
      <div class="control">
          <textarea class="textarea is-primary" rows="24" readonly>{{dataMetainfo}}</textarea>
      </div>
  </div>
  </div>

</article>

</div> <!-- End of content -->
