
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a routerLink="/">Home</a></li>
  </ul>
</nav>

<div class="content">

<h1 class="title">
  Welcome to the AppStream MetaInfo Generator!
</h1>

<p>Please select the type of software that you want to generate metadata for:</p>


<div class="columns is-centered">
  <div class="is-two-fifths">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          GUI Application
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
        </div>
      </div>
      <footer class="card-footer">
        <a routerLink="/guiapp" class="card-footer-item">Generate metadata</a>
      </footer>
    </div>
  </div>
</div>

<br/>

<div class="columns is-centered">
  <div class="is-two-fifths">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Console Application
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
        </div>
      </div>
      <footer class="card-footer">
        <a routerLink="/guiapp" class="card-footer-item">Generate metadata</a>
      </footer>
    </div>
  </div>
</div>

</div>
