
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li class="is-active"><a href="#">Home</a></li>
  </ul>
</nav>

<div class="content">

<h1 class="title">
  Welcome to the AppStream MetaInfo Creator!
</h1>

<p>
  This simple tool lets you create <a href="https://www.freedesktop.org/software/appstream/docs/">AppStream</a> MetaInfo files by
  answering a simple set of questions.
</p>

<p>Please select the type of software that you want to generate metadata for:</p>


<div class="columns">

  <div class="column">
    <div class="columns is-centered">

      <div class="column is-two-fifths">
        <div class="card">
        <header class="card-header">
            <p class="card-header-title">
            GUI Application
            </p>
        </header>
        <div class="card-content">
            <div class="content">
            <p>GUI applications are application which have a graphical user interface and are commonly
            used with mouse and keyboard.
            They also ship a Freedesktop desktop-entry file to be visible in application menus.</p>
            </div>
        </div>
        <footer class="card-footer">
            <a routerLink="/guiapp" class="card-footer-item button is-primary is-light">Create GUI Application Metadata</a>
        </footer>
        </div>
      </div>

      <div class="column is-two-fifths">
        <div class="card">
        <header class="card-header">
            <p class="card-header-title">
            Console Application
            </p>
        </header>
        <div class="card-content">
            <div class="content">
            <p>Console application are any application that have a command-line or text-based interface and are designed
            to be used by a human user in a console.
            Their binaries need to be present in <code>PATH</code>.</p>
            </div>
        </div>
        <footer class="card-footer">
            <a routerLink="/consoleapp" class="card-footer-item button is-link is-light">Create Console Application Metadata</a>
        </footer>
        </div>
      </div>

    </div>
  </div>

</div>


<div class="columns">

  <div class="column">
    <div class="columns is-centered">

      <div class="column is-two-fifths">
        <div class="card">
        <header class="card-header">
            <p class="card-header-title">
            Addon
            </p>
        </header>
        <div class="card-content">
            <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</p>
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item">Create metadata</a>
        </footer>
        </div>
      </div>

      <div class="column is-two-fifths">
        <div class="card">
        <header class="card-header">
            <p class="card-header-title">
            Font
            </p>
        </header>
        <div class="card-content">
            <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</p>
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item">Create metadata</a>
        </footer>
        </div>
      </div>

    </div>
  </div>

</div>

</div> <!-- end of content div -->
